        <%- include('includes/header.ejs') %>

    </head>

    <body style="background-color: snow;">
        <%- include('includes/navbar.ejs') %>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="container" style="margin: auto; width:100%; padding: 25px;">
            <div class="row">
                <div class="col">
                    <a href="/admin/stocks">
                        <img border="0" alt="Stocks" src="/img/stocks.webp" width="200" height="200">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img border="0" alt="Notes" src="/img/notes.webp" width="200" height="200">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img border="0" alt="Reminders" src="/img/reminders.png" width="200" height="200">
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img border="0" alt="Settings" src="/img/settings.png" width="200" height="200">
                    </a>
                </div>
            </div>
        </div>
        
        
    </body>

</html>