        <%- include('includes/header.ejs') %>

    </head>

    <body style="background-color: snow;">
        <%- include('includes/navbar.ejs') %>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/stocks">Stocks</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%if (path === '/create') { %> Create <% } else { %> <%= stock.symbol %> <% } %></li>
            </ol>
        </nav>

        <h1 style="padding: 10px 40px;">Stocks</h1>
        
    </body>

</html>