        <%- include('includes/header.ejs') %>
        
        <link rel="stylesheet" type="text/css" href="/css/search.css">

    </head>

    <body>

        <div class="logo"><img src="img/scrooge-logo-white.png" alt="Logo"></div>
        <div class="logo-text">SCROOGE</div>

        <button class="dark-mode-toggle" id="dark-mode-toggle" aria-label="toggle dark mode"><i class="fa fa-moon-o"></i></button>

        <div class="logo-body"><img src="img/scrooge-logo-white-large.png" alt="Logo"></div>
        <div class="logo-body-text">SCROOGE</div>

        <div class="search">
            <h1 class="search-header">Search for listed dividend stocks</h1>
            <h5 class="search-body-1">This is a database of <i>high performing</i> and <i>secure</i> dividend stocks &nbsp;<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="The performance represented is historical; past performance is not a reliable indicator of future results and investors may not recover the full amount invested. Use this tool at your own risk to supplement your dividend investing research."></i></h5>
            <div class="search-bar">
                <form action="/" method="post">
                    <input class="searchTerm" type="text" name="symbol" style="padding-left: 20px;" placeholder="AAPL, MSFT, AMD...">
                    <button class="searchButton" type="submit">Search</button>
                </form>
            </div>
            <h5 class="search-body-2">If a stock is unavailable, it's coming soon...</h5>
            <% if (messages.info) { %>
                <div class="alert-container" style="text-align: center;">
                    <div class="alert alert-primary" role="alert">
                        <%= messages.info %>
                    </div>
                </div>    
            <% } %>
        </div>

        <%- include('includes/contactform.ejs') %>

        <script src="/js/client/search.js"></script>
        <script src="/js/client/darkmode.js"></script>
        
    </body>

</html>