<div class="sidenav" id="sidenav">
    <div class="logo">
        SCROOGE
    </div>
    <br>
    <br>
    <a href="/"><i class="fa fa-home"></i>&nbsp; Home</a>
    <a href="/"><i class="fa fa-search"></i>&nbsp; Search</a>
</div>