<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="position: absolute; top: 0;">
        <div class="toast-header">
            <img src="img/favicon.png" class="rounded mr-2" alt="..." style="width: 20px;">
            <strong class="mr-auto">Scrooge</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! We are looking for CSS gurus! Contact us using the contact form below if you're interested!
        </div>
    </div>
</div>