@import url('https://fonts.googleapis.com/css2?family=Nunito');

:root {
    --side-nav: #137AE9;
    --bg: #FFFFFF;
    --toggle: #000000;
    --h1: #137AE9;
    --h3: #094D96;
    --h5: #094D96;
    --divH: #007bff;
    --text: #000000;
    --box-br: #F4F4F4;
    --box-bg: #FAFAFA;
}

.darkmode {
    --side-nav: #0E3471;
    --bg: #030E22;
    --toggle: #FFFFFF;
    --h1: #FFFFFF;
    --h3: #90C5FD;
    --h5: #3B9BFC;
    --divH: #3B9BFC;
    --text: #FFFFFF;
    --box-br: #03122B;
    --box-bg: #031026;
}

body {
    background: var(--bg);
    font-family: Nunito;
    max-width: 100%;
    overflow-x: hidden;
}

.dark-mode-toggle {
    border: none;
    background: none;
    color: var(--toggle);
    font-size: large;
}

.sidenav {
    position: fixed;
    background-color: var(--side-nav);
}

.logo {
    position: fixed;
    user-select: none;
}

.logo-text {
    position: fixed;
    text-decoration: none;
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 800;
}

.sidenav a {
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

#main {
    background: var(--bg);
}

h1 {
    color: var(--h1);
    padding: 60px 0px 0px 60px;
    font-weight: 800;
}

h3 {
    color: var(--h3);
    padding: 10px 0px 0px 60px;
    font-weight: 800;
}

span {
    color: #9B9B9B;;
}

h5 {
    color: var(--h5);
    padding: 80px 0px 20px 60px;
    font-weight: 800;
}

.generalHeaders, .dividendInvestingHeaders {
    font-weight: 800;
}

.dividendHeaders {
    color: var(--divH);
    font-size: larger;
    font-weight: 800;
}

.generalInformation {
    border-radius: 15px;
    border: 3px solid var(--box-br);
    background: var(--box-bg);
    margin-left: 60px;
    margin-right: 60px;
    padding: 40px 20px 20px 40px;
    display: table;
}

.generalInformationTable {
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 65px 20px 0px;
}

.dividendInvestingChecklist {
    border-radius: 15px;
    border: 3px solid var(--box-br);
    background: var(--box-bg);
    margin-left: 60px;
    margin-right: 60px;
    padding: 45px 0px 20px 45px;
    display: table;
}

.dividendInvestingChecklistTable {
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 110px 20px 0px;
}

.asterix {
    padding: 20px 0px 0px 60px;
}

.updated {
    padding: 20px 0px 40px 60px;
}

.updated b {
    font-weight: 800;
}

td {
    font-weight: lighter;
    color: var(--text);
}

th {
    text-align: left;
    color: var(--text);
}

div {
    color: var(--text);
}

#performance {
    text-align: center;
}

@media only screen and (max-width: 400px) {
    
}

@media only screen and (min-width: 300px) {
    .dark-mode-toggle {
        position: fixed;
        top: 30px;
        right: 30px;
    }
    .sidenav {
        width: 100%;
        height: 80px;
        overflow: hidden;
    }
    .logo {
        padding: 25px 15px 110px 110px;
        background: url(../img/scrooge-logo-white.png) no-repeat 20px 20px;
        background-size: 50px;
    }
    .logo-text {
        display: none;
    }
    .sidenav a {
        position: absolute;
        top: 25px;
        left: 35%;
    }
    #main {
        padding-top: 80px;
    }
    h1 {
        font-size: 40px;
    }
}

@media only screen and (orientation: landscape) {
    .logo {
        padding: 25px 15px 110px 110px;
        background: url(../img/scrooge-logo-white.png) no-repeat 20px 20px;
        background-size: 50px;
    }
    .logo-text {
        display: block;
        padding: 18px 15px 15px 90px;
    }
    .sidenav a {
        position: absolute;
        top: 25px;
        left: 55%;
    }
    h1 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 600px) {
    .logo {
        padding: 25px 15px 110px 110px;
        background: url(../img/scrooge-logo-white.png) no-repeat 20px 20px;
        background-size: 50px;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .logo {
        padding: 25px 15px 110px 110px;
        background: url(../img/scrooge-logo-white.png) no-repeat 20px 20px;
        background-size: 50px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .logo-text {
        display: block;
        padding: 18px 15px 15px 90px;
    }
    .sidenav a {
        position: absolute;
        top: 25px;
        left: 52%;
    }
}

@media only screen and (min-width: 992px) {
    .sidenav a {
        position: absolute;
        top: 25px;
        left: 52%;
    }
}

@media only screen and (min-width: 992px) and (orientation: portrait) {
    .logo-text {
        display: block;
        padding: 18px 15px 15px 90px;
    }
}

@media only screen and (min-width: 1200px) {
    .dark-mode-toggle {
        position: absolute;
        top: 45px;
        right: 45px;
    }
    .sidenav {
        height: 100%;
        width: 310px;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .logo {
        padding: 18px 15px 110px 110px;
        background: url(../img/scrooge-logo-white.png) no-repeat 40px 20px;
        background-size: 50px;
    }
    .logo-text {
        display: block;
        padding: 18px 15px 15px 110px;
    }
    .sidenav a {
        position: absolute;
        top: 150px;
        left: 35%;
    }
    #main {
        padding-top: 0px;
        margin-left: 310px;
    }
    
}