@import url('https://fonts.googleapis.com/css2?family=Nunito');

body {
    font-family: Nunito;
    max-width: 100%;
    overflow-x: hidden;
}

.generalInformation {
    border-radius: 15px;
    border: 3px solid #F4F4F4;
    background: #FAFAFA;
    margin-left: 60px;
    margin-right: 60px;
}

.dividendInvestingChecklist {
    border-radius: 15px;
    border: 3px solid #F4F4F4;
    background: #FAFAFA;
    margin-left: 60px;
    margin-right: 60px;
}

.generalInformationTable {
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 55px 20px 0px;
}

.dividendInvestingChecklistTable {
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 110px 20px 0px;
}

td {
    font-weight: lighter;
}

th {
    text-align: left;
}

#performance {
    text-align: center;
}